<div id="kwikwery" class="container-fluid">
  <div class="row" style="padding-left: 100px; padding-right: 100px;">
    <uib-alert class="col-md-12" ng-repeat="alert in alerts.success" dismiss-on-timeout="5000"
    type="success" close="closeAlert('success', $index)">{{alert.status}} / {{ alert.msg }} : {{ alert.query }}
    </uib-alert>
    <uib-alert class="col-md-12" ng-repeat="alert in alerts.error"
    type="danger" close="closeAlert('error', $index)">{{alert.status}} / {{ alert.msg }} : {{ alert.error }}
    </uib-alert>
  </div>
  <div class="row" style="padding-left: 100px; padding-right: 100px;">
    <h2 class="text-center page-header space">Custom MySQL Queries</h2>
    <div class="well" style="padding-left: 25px; padding-right: 25px;">
    <ui-codemirror ui-codemirror-opts="cmPrefs" ng-model="query"></ui-codemirror>
    <button class="btn btn-primary pull-right" ng-click="submitQuery()">Submit Query</button>
    </div>
  </div>
  <div class="row" style="padding-left: 80px; padding-right: 80px;">
    <uib-alert class="col-md-12" ng-repeat="table in alerts.table" type="default" close="closeAlert('table', $index)">
      <table class="table table-condensed table-hover table-bordered">
        <thead>
          <tr>
            <th ng-repeat="header in queryResponseHeaders">{{header}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in queryResponseData">
            <td ng-repeat="(column, data) in row">{{data}}</td>
          </tr>
        </tbody>
      </table>
    </uib-alert>
  </div>
</div>
