<div id="home" class="container-fluid">
  <div class="row">
    <uib-alert class="col-md-11" ng-repeat="alert in alerts.success" dismiss-on-timeout="5000"
    type="success" close="closeAlert('success', $index)">{{alert.status}} / {{ alert.msg }} : {{ alert.query }}
    </uib-alert>
    <uib-alert class="col-md-11" ng-repeat="alert in alerts.error"
    type="danger" close="closeAlert('error', $index)">{{alert.status}} / {{ alert.msg }} : {{ alert.error }}
    </uib-alert>
  </div>
  <div class="row">
    <h2>Custom Queries</h2>
    <ui-codemirror ui-codemirror-opts="cmPrefs" ng-model="query"></ui-codemirror>
    <div class="btn btn-default inline-block" ng-click="submitQuery()">Submit Query</div>
  </div>
  <div class="row">
    <uib-alert class="col-md-11" ng-repeat="table in alerts.table" type="default" close="closeAlert('table', $index)">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th ng-repeat="header in queryResponseHeaders">{{header}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in queryResponseData">
            <td ng-repeat="(column, data) in row">{{data}}</td>
          </tr>
        </tbody>
      </table>
    </uib-alert>
  </div>
</div>
