<div id="kwikwery" class="container-fluid">
  <span us-spinner ng-show="loading"></span>
  <div class="row" style="padding-left: 100px; padding-right: 100px;">
    <alert-center></alert-center>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h2 class="page-header space">Custom MySQL Queries</h2>
      <div class="well clearfix">
        <ui-codemirror ui-codemirror-opts="cmPrefs" ng-model="query"></ui-codemirror>
        <button class="btn btn-primary pull-right query-submit" ng-click="submitQuery()">Submit Query</button>
      </div>
    </div>
  </div>
  <div class="row">
    <uib-alert class="col-sm-10 col-sm-offset-1" ng-repeat="table in alerts.table" type="default" close="closeAlert('table', $index)">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th ng-repeat="header in queryResponseHeaders">{{header}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in queryResponseData">
          <td ng-repeat="(column, data) in row">{{data}}</td>
        </tr>
      </tbody>
    </table>
    </uib-alert>
  </div>
</div>
