<div class="container-fluid">
	<div class="row">
		<h1 class="text-center">{{table}}</h1>
	</div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <input type="text" class="form-control" ng-model="search" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
     <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th ng-repeat="header in headers"><span class="glyphicon glyphicon-info-sign" data-placement="top" uib-tooltip="{{header.Type}} {{header.Key}}"></span>  {{header.Field}}</th>
          </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in records | filter:search">
          <td ng-repeat="(column, data) in row track by $index">
            <span ng-hide="isEditing == $id" ng-dblclick="editCell($id)">{{data}}</span>
            <div ng-show="isEditing == $id">
              <input type="text" class="form-control input-sm" ng-model="data" />
                <button ng-click="saveCell(data, $index, $id)" class="btn btn-default btn-xs">Save</button>
              </span>
            </div>
          </td>
        </tr>
      </table> 
      <div class="col-sm-2 col-sm-offset-5" ng-show="loading"><h4 class="text-centered">Loading...</h4></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <uib-pagination total-items="recordsCount" ng-change="paganacion()" ng-model="currentPage" rotate="false" boundary-links="true" max-size="maxSize" items-per-page="100"></uib-pagination>
</div>
