<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
     <table class="table table-striped">
        <h1>{{error}}</h1>
        <thead>
          <tr>
            <th ng-repeat="header in headers">{{header.Field}}-{{header.Type}}-{{header.Key}}</th>
          </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in records">
          <td ng-repeat="(column, data) in row track by $index">
            <span ng-hide="isEditing == $id" ng-dblclick="editCell($id)">{{data}}</span>
            <div ng-show="isEditing == $id">
              <input type="text" class="form-control input-sm" ng-model="data" />
                <button ng-click="saveCell(data, $index, $id)" class="btn btn-default btn-xs">Save</button>
              </span>
            </div>
          </td>
        </tr>
      </table> 
    </div>
  </div>
</div>
