#wrapper {
  padding-top: 50px;  
}

#home {
  padding-top: 100px;
}

#kwikwery {
  padding-top: 75px;
}

.log-line {
    padding-top: .75%;
    padding-bottom: .75%;
    border-bottom: 1px solid;
}

.space {
  margin-bottom: 50px;
}

.grid {
    width: auto;
      height: 100%;
}

.CodeMirror {
  border: 1px solid #eee;
  height: 100px;
}

.toggle-menu-div {
  position: fixed;
  top: 52px;
  left: 249px;
  border-top: none;
  border-left: none;
  border-radius: 0px 0px 7px 0px;
  padding: 0px;
  margin: 0px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.toggle-menu-button {
  position: relative;
  background-color: transparent;
  border-top: none;
  border-radius: 0px 0px 5px 0px;
  padding: 0px;
  margin: 0px;
}

.toggle-menu-button:hover {
  text-decoration: none;
  /*color: #fff;*/
}

@media(min-width:768px) {
  #wrapper.toggled .toggle-menu-div {
    left: 0px;
  }
}

.form-group {
  padding-left: 10px;
}

/* Change cursor for editable cells */
.clickable {
  cursor: pointer;
}
