#wrapper {
  margin-top: -20px;
}
.log-line {
    padding-top: .75%;
    padding-bottom: .75%;
    border-bottom: 1px solid;
}

.grid {
    width: auto;
      height: 100%;

}

.CodeMirror {
  border: 1px solid #eee;
  height: 100px;
}