<div>
  <div class="row">
    <uib-alert class="col-md-11" ng-repeat="alert in alerts.success" dismiss-on-timeout="5000"
    type="success" close="closeAlert('success', $index)">{{alert.status}} / {{ alert.msg }} successful {{ alert.method }}
    </uib-alert>
    <uib-alert class="col-md-11" ng-repeat="alert in alerts.error"
    type="danger" close="closeAlert('error', $index)">{{alert.status}} / {{ alert.msg }} error {{ alert.method }}
    </uib-alert>
  </div>

  <div class="row">
    <div class="col-md-11 well">
      <button ng-click="open('createDB')" style="margin-left:20px;" class="btn pull-right btn-sm btn-primary">Add DB</button>
      <button ng-click="open('deleteDB')" class="btn pull-right btn-sm btn-danger">Remove DB</button>
    </div>
  </div>

  <div class="row">
      <div  class="col-md-11">
        <div class="panel panel-default" style="border:1px solid grey;">
          <div class="panel-heading">
            <h4 class="panel-title">Performance Timers</h4>
          </div>
          <table class="table table-condensed table-hover table-bordered">
            <thead>
              <tr>
                <th ng-repeat="header in perfHeaders">{{header}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in perfRows">
                <td ng-repeat="(column, data) in row">{{data}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>

  <div style="margin-top:40px;" class="row">
    <div class="col-md-11">
      <div class="panel panel-default" style="border:1px solid grey;">
        <div class="panel-heading">
          <h4 class="panel-title">Process List</h4>
        </div>
        <table class="table table-condensed table-hover table-bordered">
          <thead>
            <tr>
              <th ng-repeat="header in infoHeaders">{{header}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in infoRows">
              <td ng-repeat="(column, data) in row">{{data}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
