<div class="container-fluid">
  <form class="form-horizontal" name='setupForm' ng-submit='login()'>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center login-header">
          <img src="resources/nodejs-logo.png" class="logo-login"/>
          NodeAdmin
        </h1>
        <div class="panel panel-primary login-panel">
          <div class="panel-heading">
            <h3 class="panel-title">MySQL Connection</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label for="mysqlUser" class="col-sm-3 control-label">User</label>
              <div class="col-sm-7">
                <input type='text' class="form-control" name="mysqlUser" placeholder="MySQL user" ng-model='user.mysqlUser' required autofocus/>
              </div>
            </div>
            <div class="form-group">
              <label for="mysqlPassword" class="col-sm-3 control-label">Password</label>
              <div class="col-sm-7 offset">
                <input type='password' name="mysqlPassword" class="form-control" placeholder="MySQL Password" ng-model='user.mysqlPassword' />
              </div>
            </div>
            <div class="form-group">
              <label for="mysqlHost" class="col-sm-3 control-label">Host</label>
              <div class="col-sm-7 offset">
                <input type='host' name="mysqlHost" class="form-control" placeholder="localhost" ng-model='user.mysqlHost' />
              </div>
            </div>
          </div>
          <!-- <div class="panel-footer"> -->
            <div class="form-group">
              <div class="col-sm-11">
                <button type="submit" class="btn btn-primary pull-right">Log In</button>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </form>
  <div class="row" ng-show="error">
    <div class="col-md-4 col-md-offset-4">
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="error">{{ error }}</span>
      </div>
    </div>
  </div>
</div>
