<div class="container-fluid">
  <form class="form-horizontal" name='setupForm' ng-submit='login()'>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h1 class="text-center">Node Admin</h1>
        <h3>MySQL Connection</h3>
        <div class="form-group">
          <label for="mysqlUser" class="col-sm-3 control-label">User</label>
          <div class="col-sm-9">
            <input type='text' class="form-control" name="mysqlUser" placeholder="MySQL user" ng-model='user.mysqlUser' required autofocus/>
          </div>
        </div>
        <div class="form-group">
          <label for="mysqlPassword" class="col-sm-3 control-label">Password</label>
          <div class="col-sm-9">
            <input type='password' name="mysqlPassword" class="form-control" placeholder="MySQL Password" ng-model='user.mysqlPassword' />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Log In</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row" ng-show="error">
    <div class="col-md-4 col-md-offset-4">
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="error">{{ error }}</span>
      </div>
    </div>
  </div>
</div>
