<div id="add-user">
  <div class="modal-header">
    <h3 class="modal-title">Add User</h3>
  </div>
  <alert-center></alert-center>
  <!-- <div ng-show="error" class="alert alert-danger alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ error }}
  </div> -->
  <form name="addUserForm" class="form-horizontal">
    <div class="modal-body">
      <div class="form-group">
        <label for="mysqlUser" class="col-sm-3 control-label">User</label>
        <div class="col-sm-9">
          <input type='text' class="form-control" name="mysqlUser" placeholder="MySQL Username (Maximum 16 characters)" ng-model='user.user' ng-required="true" />
        </div>
      </div>
      <div class="form-group">
        <label for="mysqlPassword" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-9">
          <input type='password' name="mysqlPassword" class="form-control" placeholder="MySQL Password" ng-model='user.password' />
        </div>
      </div>
      <div class="form-group">
        <label for="mysqlHost" class="col-sm-3 control-label">Host</label>
        <div class="col-sm-9">
          <input type='host' name="mysqlHost" class="form-control" placeholder="Host" ng-model='user.host' />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success btn-sm" type="submit" ng-click="addUserForm.$valid && addUser()">Save</button>
      <button class="btn btn-info btn-sm" type="button" ng-click="addUserForm.$valid && addUser(); editPrivileges()">Save & Edit Privileges</button>
      <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </form>
</div>
