<div id="edit-privileges">
  <alert-center></alert-center>
  <h2 class="page-header space">Privileges for {{ user }}</h2>
  <button class="btn btn-sm btn-success" ng-click="grantAll()">Grant All</button>
  <button class="btn btn-sm btn-danger" ng-click="revokeAll()">Revoke All</button>
  <div class="table-container privileges-table">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th ng-repeat="header in headers track by $index">{{header}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="clickable" title="Double-click to edit" ng-repeat="(header, data) in record track by $index">
            <span ng-hide="isEditing == $id" ng-dblclick="editCell($id, header)">{{data}}</span>
            <div ng-show="isEditing == $id">
              <input type="text" class="form-control input-sm" ng-model="data" />
              <button ng-click="saveCell(header, data)" class="btn btn-success btn-xs edit-cell-button">Save</button>
              <button ng-click="cancel()" class="btn btn-sm btn-warning btn-xs edit-cell-button">Cancel</button>
            </div>
          </td>
        </tr>
      </tbody>
      </table>
      </div>
    </table class="table-container">
    <h3 class="page-header space">Description of Privileges</h3>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Privilege</th>
          <th>Context</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in showPrivileges">
          <td> {{ row.Privilege }} </td>
          <td> {{ row.Context }} </td>
          <td> {{ row.Comment }} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
