<div class="container-fluid">
  <alert-center></alert-center>
  <h2 class="page-header space">Users</h2>
  <form class="form-horizontal col-md-12" name="filterForm">
    <div class="row well">
      <div class="form-inline">
        <span class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Filter Users" ng-model="search" aria-describedby="basic-addon1" autofocus>
          </div>
        </span>
        <span class="col-md-4 col-md-offset-4">
          <button class="btn btn-sm btn-primary pull-right" ng-click="openAddUser()">Add User</button>
        </span>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Host</th>
            <th>User</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users | filter:search">
            <td class="clickable" title="Double-click to edit" ng-repeat="(column, data) in user track by $index">
              <span ng-hide="isEditing == $id" ng-dblclick="editCell($id, column, data, user)">{{data}}</span>
              <div ng-show="isEditing == $id">
                <input type="text" class="form-control input-sm" ng-model="data"/>
                <button ng-click="saveCell(column, data)" class="btn btn-success btn-xs edit-cell-button">Save</button>
                <button ng-click="cancel()" class="btn btn-warning btn-xs edit-cell-button">Cancel</button>
              </span>
            </div>
          </td>
          <td>
            <button class="btn btn-sm btn-primary" ng-click="openGrants(user)">View Privileges</button>
            <button class="btn btn-sm btn-danger" ng-click="openDeleteUser(user)">Delete User</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
