  <div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <h2 class="page-header space">{{table}}</h2>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-md-offset-1 space">
      <span class="glyphicon glyphicon-plus clickable" ng-click="toggleForm()" ng-if="rowing != true" tooltip-placement="right" uib-tooltip="add row"></span>
      <span class="glyphicon glyphicon-remove clickable" ng-if="rowing == true" ng-click="toggleForm()"></span>
      <form class="form" ng-if="rowing == true" ng-submit="addRow(row)" bindonce>
        <div class="form-group col-xs-2" ng-repeat="header in headers">
          <label for="{{::header.Field}}" bo-if="!notNull(header.Null)">{{::header.Field}}</label>
          <label for="{{::header.Field}}" bo-if="notNull(header.Null)">{{::header.Field}}*</label>
          <input type="text" class="form-control input-sm" bo-if="!isRef(header.Field) && !isEnum(header.Type) && !isAuto(header.Extra) && !isDate(header.Type)" name="header.Field" placeholder="{{::header.Type}} {{::header.Key}} {{::header.Extra}}"ng-model="row[header.Field]" />
          <input type="text" class="form-control input-sm" bo-if="isAuto(header.Extra)" name="header.Field" ng-model="row[header.Field]"readonly />
          <div class="input-group" bo-if="isDate(header.Type)">
            <input type="text" class="form-control" uib-datepicker-popup="" ng-model="row[header.Field]" is-open="status.opened" min-date="null" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
          <select class="form-control input-sm" bo-if="isRef(header.Field) == true" ng-model="row[header.Field]">
            <option ng-repeat="value in foreignValues">{{value}}</option>
          </select>
          <select class="form-control input-sm" bo-if="isEnum(header.Type) == true">
            <option ng-repeat="enum in enums track by $index">{{enum}}</option>
          </select>
        </div>
        <div class="col-xs-offset-9 col-xs-2">
          <button type="submit" class="btn btn-sm btn-success" ng-click="rowing = false">Save</button>
        </div>
      </form>
    </div>
  </div>
  <alert-center></alert-center>
  <div class="row">
    <div class="col-md-12 space well">
      <div class="input-group col-md-2">
        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search"></span></span>
        <input type="text" class="form-control" placeholder="Filter results" ng-model="search" aria-describedby="basic-addon1">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-hover" bindonce>
        <thead>
          <tr>
            <th ng-repeat="header in headers"><div><span class="glyphicon glyphicon-info-sign" data-placement="top" uib-tooltip="{{::header.Type}} {{::header.Key}}"></span><span class="glyphicon glyphicon-chevron-down pull-right clickable" data-placement="top" uib-tooltip="Sort" ng-click="toggleSort(header.Field)"></span></div> {{::header.Field}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in records | toArray | filter:search" ng-dblclick="editRow($id, row)">
            <td class="clickable" title="Double-click to edit" ng-repeat="(column, data) in row track by $index">
              <span ng-if="isEditing != $parent.$id" >{{data}}</span>
              <div ng-if="isEditing == $parent.$id">
                <input type="text" ng-if="!isRef(column) && !isEnum(column)" class="form-control input-sm" ng-model="row[column]" />
                <select ng-if="isRef(column) == true" ng-model="row[column]" class="form-control input-sm">
                  <option ng-repeat="value in foreignValues" value="{{value}}" >{{value}}</option>
                </select>
                <button ng-click="updateRow(row, $index, $id)" class="btn btn-success btn-xs edit-cell-button">Save</button>
                <button ng-click="cancel()" class="btn btn-warning btn-xs edit-cell-button">Cancel</button>
              </div>
            </td>
          </tr>
        </table>
        <div class="col-sm-2 col-sm-offset-5" ng-show="loading"><h4 class="text-centered">Loading...</h4></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <uib-pagination total-items="recordsCount" ng-change="pagination()" ng-model="currentPage" rotate="false" boundary-links="true" max-size="maxSize" items-per-page="100"></uib-pagination>
      </div>
    </div>
  </div>
