<nav class="navbar navbar-default">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">BABKA</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-init="currTab = 'home'">
      <ul class="nav navbar-nav">
        <li ng-class="{active: (currTab == 'home')}" ng-click="currTab = 'home'">
          <a ui-sref="home">Home</a>
        </li>
        <li ng-class="{active: (currTab == 'db')}" ng-click="currTab = 'db'">
          <a ui-sref="db">DB</a>
        </li>
        <li ng-class="{active: (currTab == 'system')}" ng-click="currTab = 'system'">
          <a ui-sref="modules">System </a>
        </li>
        <li ng-class="{active: (currTab == 'settings')}" ng-click="currTab = 'settings'">
          <a ui-sref="settings">Settings</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-click="logout()"><a>Logout</a></li>
      </ul>
    </div>
</nav>

<div ui-view></div>
