<div class="container-fluid">
  <alert-center></alert-center>
  <!-- <div ng-show="error" class="alert alert-danger alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{error}}
  </div>
  <div ng-show="success" class="alert alert-success alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ success }}
  </div> -->
  <h2 class="page-header space">Tables</h2>
  <!-- begin action -->
  <form class="form-horizontal col-md-12" name="filterForm">
    <div class="row well">
      <div class="form-inline">
        <span class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Filter Tables" ng-model="search" aria-describedby="basic-addon1" autofocus>
          </div>
        </span>
        <span class="col-md-4 col-md-offset-4">
          <button ui-sref="createtable({ database: databaseName })" class="btn btn-primary btn-sm pull-right">
          Create Table
          </button>
        </span>
      </div>
    </div>
  </form>
  <!-- end action -->
  <div style="margin-top:3em;" class="table-container">
    <table class="table table-hover table-bordered">
      <tbody>
        <thead>
          <tr>
            <th>Table Name</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="table in tables | filter: search">
            <td class="clickable" title="Click to view records" ui-sref="records({ database: databaseName, table: table, page: 1 })"> {{ table }} </td>
            <td><button class="btn btn-danger btn-sm" type="button" ng-click="open('sm', table)">Delete Table</button></td>
          </tr>
        </tbody>
      </tbody>
    </table>
  </div>
</div>
