<div class="container-fluid">
  <div ng-show="error" class="alert alert-danger alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{error}}
  </div>
  <div ng-show="success" class="alert alert-success alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{success.status}} / {{ success.statusText }} successful {{ success.config.method }}
  </div>
  <h2 class="text-center">Tables</h2>
  <button class="btn btn-default"><a ui-sref="createTable">Create Table</a></button>
  <form class="form-horizontal" name="filterForm">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="form-group">
          <input type="text" ng-model="search" class="form-control" placeholder="Search tables">
        </div>
      </div>
    </div>
  </form>
  <div class="table-container">
    <table class="table table-striped">
      <thead>
        <th>Table Name</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr ng-repeat="table in tables | filter: search">
          <td ui-sref="records({ database: databaseName, table: table   })"> {{ table }} </td>
          <!-- TODO: delete table should open modal for that specific table -->
          <td><button class="btn btn-danger" type="button" ng-click="open('sm', table)">Delete Table</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
